argon2-cffi
asgiref
crispy-bootstrap5
Django
django-crispy-forms
django-environ
django-filter
django-unfold
djangorestframework
djangorestframework_simplejwt
drf-yasg
gunicorn
matplotlib
numpy
pandas
pillow
psycopg2-binary
PyJWT
whitenoise
django-import-export
openpyxl
dj-database-url
django-storages[s3]
